/* src/components/GroupModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  }
  
  .modal-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-button.cancel {
    background-color: #ccc;
    color: #000;
  }
  
  .modal-button.create {
    background-color: #28a745;
    color: white;
  }
  
  .modal-button.create:hover {
    background-color: #218838;
  }
  
  .modal-button.cancel:hover {
    background-color: #bbb;
  }
  .subscribers-container {
    display: flex;
  }
  
  .subscribers-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .subscribers-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .create-group-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .search-section {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .group-list {
    margin-top: 20px;
  }
  
  .group-item {
    background-color: #343a40;  /* Dark background similar to the Campaigns page */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .group-item a {
    color: white;
    text-decoration: none;
  }
  
  .group-item a:hover {
    text-decoration: underline;
  }
  
  .group-item:hover {
    background-color: #495057; /* Slightly lighter on hover */
  }
  